	{% if page.layout == 'amp' %}
		<p>어떻게 이럴 수가...</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(9);
			fortune[0] = '에러뜨면 Ctrl + Z';
			fortune[1] = '사이트가 이상하면 F5';
			fortune[2] = '배고프면 시켜드세요';
			fortune[3] = '졸리면 침대에 누우세요';
			fortune[4] = '심심하면 게임하세요';
			fortune[5] = '스타크래프트는 갓겜입니다. 물론 스2만요';
			fortune[6] = '모든 것에는 버그가 있습니다. 구글이 만든 것도요.';
			fortune[7] = '발로란트 망겜';
			fortune[8] = '코딩할 때 바른 자세는 좋은 코드를 만들기 힘들게 합니다.';
			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>어떻게 이럴 수가...</noscript>
	{% endif %}
